.myOrderContainer {
	width: 360px;
	height: auto;
	padding: 20px;
    position: absolute;
	position: fixed;
    display: grid;
	box-sizing: border-box;
	background-color: white;
	top: 120px;
    right: 10px;
	border-radius: 6px;
	border: 1px solid rgba(0, 6, 130, 0.903);
	overflow-y: auto;
	scroll-behavior: smooth;
    z-index: 5;
    transition: 1s ease;
	animation: swipeLeft 1s ease forwards;
}
.titleContainer {
	display: flex;
}
.titleContainer img {
	transform: rotate(180deg);
	margin-right: 14px;
	cursor: pointer;
}
.title {
	font-size: 20px;
	font-weight: bold;
    color: black;
}
.cartProductList {
	max-height: calc(100vh - 500px);
	overflow-y: auto;
}
.cartProductList::-webkit-scrollbar {
	display: absolute;
}
.textAlertCartEmpty{
	margin: 10px 0;
	text-align: center;
	color: black;
	font-weight: bold;
	background-color: rgb(247, 142, 142);
	border-radius: 5px;
}
@media (max-width: 640px){
    .myOrderContainer {
		top: 100px;
        right: -225px;
	}
}
@keyframes swipeLeft {
    100% {transform: translateX(-360px);}
}