
.ProductItem {
	width: 240px;
	background-color: rgb(75, 134, 136);
	border-radius: 20px 0;
}
.ProductItem img {
	width: 240px;
	height: 240px;
	border-radius: 20px 0;
	object-fit: cover;
	cursor: pointer;
}
.ProductItem img:hover{
	transform: scale(1.05);
	transition-duration: 0.5s;
}
.productInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 5px 0;
}
.productInfo div p:nth-child(1) {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
}
.productInfo div p:nth-child(2) {
	font-size: 22px;
	font-weight: bold;
	color: white;
}
.productInfo div p:nth-child(2):hover {
	color: greenyellow;
}
.buttonContainer{
	display: flex;
	gap: 20px;
}
.counterItem-button{
	width: 60px;
	height: 80%;
	display: grid;
	grid-template-columns: auto 30px auto;
	align-self: center;
	background-color: azure;
	border-radius: 5px;
}
.counterItem-button button{
	height: 100%;
	background-color: rgb(207, 207, 207);
	font-weight: bold;
}
.counterItem-button button:hover{
	background-color: rgb(177, 177, 177);
}
.counterItem-button span{
	color: black;
	text-align: center;
	align-self: center;
}
.buttonContainer figure {
	display: flex;
	place-content: center;
	width: 40px;
	height: 40px;
}
.buttonContainer figure img {
	border-radius: 4px;
	width: 90%;
	height: 90%;
	background-color: rgb(0, 187, 255);
	cursor: pointer;
	object-fit: cover;
}
.buttonContainer figure img:hover{
	background-color: greenyellow;
	transform: scale(1.1);
	transition-duration: 0.5s;
}
@media (max-width: 640px) {
	.ProductItem {
		width: 140px;
	}
	.ProductItem img {
		width: 140px;
		height: 140px;
	}
	.productInfo div p:nth-child(1) {
		font-size: 14px;
	}
	.productInfo div p:nth-child(2) {
		font-size: 16px;
	}
	.buttonContainer{
		gap: 8px;
	}
	.counterItem-button{
		width: 35px;
		grid-template-columns: auto 20px auto;
	}
	.buttonContainer figure {
		width: 25px;
		height: 25px;
	}
}