.ProductItem {
	display: grid;
	grid-template-rows: auto 1fr;
	place-content: center;
	width: 240px;
	background-color: rgb(75, 134, 136);
	border-radius: 20px 0;
	z-index: 2;
}
.ProductItem img {
	width: 240px;
	height: 240px;
	border-radius: 20px 0;
	object-fit: cover;
	cursor: pointer;
}
.ProductItem img:hover{
	transform: scale(1.01);
	transition-duration: 0.5s;
}
.productInfo {
	display: grid;
	place-content: center;
	text-align: center;
	margin: 10px 5px 0;
}
.productInfo p:nth-child(1) {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 2px;
}
.productInfo p:nth-child(2) {
	font-size: 22px;
	font-weight: bold;
	color: white;
}
.productInfo p:nth-child(2):hover {
	color: greenyellow;
}
@media (max-width: 640px) {
	.ProductItem {
		width: 140px;
	}
	.ProductItem img {
		width: 140px;
		height: 140px;
	}
	.productInfo p:nth-child(1) {
		font-size: 14px;
	}
	.productInfo p:nth-child(2) {
		font-size: 16px;
	}
}